body {background-color: #ffe6ee;
padding-left: 4rem;
padding-right: 4rem;
font-family: Arial, Helvetica, sans-serif;}
h1   {color:#1e3231;}
h1 {text-align:center;}
h2 {color: #1e3231;}
h2 {text-align:center;}
h3 {color:#1e3231;}
h3 {text-align:center;}

a:link {
  color: #7575a3;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:#7575a3;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #7575a3;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color:#7575a3;
  background-color: transparent;
  text-decoration: underline;
}
.mycontainer{
  display: flex;
  background-color: #ffccdc;
  padding: 12px;
  border: 2px #7575a3 solid;
  border-radius: 10px;
}



